---
import Link from "./sidebar/Link.astro";

const basePath = import.meta.env.BASE_URL;
---

<div
  class="min-h-full w-56 border-neutral-600 border-r-2 bg-neutral-800 text-neutral-200 relative"
>
  <nav class="flex flex-col w-56 px-2 pb-24 sticky top-20 z-0">
    <Link href={`${basePath}`}>
      <i slot="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          ><title>About</title><path
            d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z"
          ></path></svg
        >
      </i>
      <span slot="label">About</span>
    </Link>

    <Link href={`${basePath}learn`}>
      <i slot="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          ><title>Learn</title><path
            d="M12 3L1 9L5 11.18V17.18L12 21L19 17.18V11.18L21 10.09V17H23V9L12 3M18.82 9L12 12.72L5.18 9L12 5.28L18.82 9M17 16L12 18.72L7 16V12.27L12 15L17 12.27V16Z"
          ></path></svg
        >
      </i>
      <span slot="label">Learn</span>
    </Link>

    <hr class="my-3 mx-4 border-sky-700" />

    <Link href={`${basePath}core`}>
      <i slot="icon"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          ><title>Core</title><path
            d="M12,6.7L13.45,10.55L17.3,12L13.45,13.45L12,17.3L10.55,13.45L6.7,12L10.55,10.55L12,6.7M12,1L9,9L1,12L9,15L12,23L15,15L23,12L15,9L12,1Z"
          ></path></svg
        ></i
      >
      <span slot="label">Core</span>
    </Link>

    <section class="pt-4">
      <h2 class="text-neutral-400 mx-2 pb-1">Session management</h2>

      <Link href={`${basePath}sessions/cookie`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>Cookie session</title><path
              d="M20.87 10.5C20.6 10 20 10 20 10H18V9C18 8 17 8 17 8H15V7C15 6 14 6 14 6H13V4C13 3 12 3 12 3C7.03 3 3 7.03 3 12C3 16.97 7.03 21 12 21C16.97 21 21 16.97 21 12C21 11.5 20.96 11 20.87 10.5M11.32 18.96C12 18.82 12.5 18.22 12.5 17.5C12.5 16.67 11.83 16 11 16S9.5 16.67 9.5 17.5C9.5 18 9.76 18.47 10.16 18.74C7.54 18.04 5.5 15.81 5.09 13.12C5 12.61 5 12.11 5 11.62C5.07 12.39 5.71 13 6.5 13C7.33 13 8 12.33 8 11.5S7.33 10 6.5 10C5.82 10 5.25 10.46 5.07 11.08C5.47 8 7.91 5.5 11 5.07V6.5C11 7.33 11.67 8 12.5 8H13V8.5C13 9.33 13.67 10 14.5 10H16V10.5C16 11.33 16.67 12 17.5 12H19C19 16.08 15.5 19.36 11.32 18.96M9.5 9C8.67 9 8 8.33 8 7.5S8.67 6 9.5 6 11 6.67 11 7.5 10.33 9 9.5 9M13 12.5C13 13.33 12.33 14 11.5 14S10 13.33 10 12.5 10.67 11 11.5 11 13 11.67 13 12.5M18 14.5C18 15.33 17.33 16 16.5 16S15 15.33 15 14.5 15.67 13 16.5 13 18 13.67 18 14.5Z"
            ></path></svg
          >
        </i>
        <span slot="label">Cookie</span>
      </Link>
      <Link href={`${basePath}sessions/jwt`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>JSON Web Token-outline</title><path
              d="M5.8 10C5.4 8.8 4.3 8 3 8C1.3 8 0 9.3 0 11S1.3 14 3 14C4.3 14 5.4 13.2 5.8 12H7V14H9V12H11V10H5.8M3 12C2.4 12 2 11.6 2 11S2.4 10 3 10 4 10.4 4 11 3.6 12 3 12M16 4C13.8 4 12 5.8 12 8S13.8 12 16 12 20 10.2 20 8 18.2 4 16 4M16 10.1C14.8 10.1 13.9 9.2 13.9 8C13.9 6.8 14.8 5.9 16 5.9C17.2 5.9 18.1 6.8 18.1 8S17.2 10.1 16 10.1M16 13C13.3 13 8 14.3 8 17V20H24V17C24 14.3 18.7 13 16 13M22.1 18.1H9.9V17C9.9 16.4 13 14.9 16 14.9C19 14.9 22.1 16.4 22.1 17V18.1Z"
            ></path></svg
          >
        </i>
        <span slot="label">JWT</span>
      </Link>
    </section>

    <section class="pt-4">
      <h2 class="text-neutral-400 mx-2 pb-1">Authentication methods</h2>

      <Link href={`${basePath}providers/credentials`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>Credentials</title><path
              d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20M8.5,12A1.5,1.5 0 0,0 7,10.5A1.5,1.5 0 0,0 5.5,12A1.5,1.5 0 0,0 7,13.5A1.5,1.5 0 0,0 8.5,12M13,10.89C12.39,10.33 11.44,10.38 10.88,11C10.32,11.6 10.37,12.55 11,13.11C11.55,13.63 12.43,13.63 13,13.11V10.89Z"
            ></path></svg
          >
        </i>
        <span slot="label">Credentials</span>
      </Link>
      <Link href={`${basePath}providers/email`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>Email</title><path
              d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"
            ></path></svg
          >
        </i>
        <span slot="label">Email</span>
      </Link>
      <Link href={`${basePath}providers/oath`}>
        <i slot="icon"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>OAth</title><path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            ></path></svg
          ></i
        >
        <span slot="label">OAth</span>
      </Link>
    </section>

    <section class="pt-4">
      <h2 class="text-neutral-400 mx-2 pb-1">Backend Integration</h2>
      <Link href={`${basePath}integration/next`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <title>Next.js</title>
            <g>
              <path
                d="M380,480c-1.9,1-1.7,1.3,0.1,0.4l1.5-1C381.6,479.1,381.6,479.1,380,480z M383.8,477.9l0.2,0.3l1.1-0.8L383.8,477.9z
		 M386.3,476.4l0.2,0.3l1.1-0.8L386.3,476.4z M388.8,474.9l0.1,0.2l1.1-0.8L388.8,474.9z M392.2,472.7c-1.7,1.2-2.4,1.9-0.8,1.1
		l2.6-2.1L392.2,472.7L392.2,472.7z M239.2,0.1c-1.2,0.1-4.7,0.4-7.7,0.7c-72.8,6.6-140.8,45.8-184,106.1
		C23.6,139.9,8.2,178.4,2.3,218.7C0.3,232.8,0,236.9,0,256c0,19.1,0.3,23.2,2.3,37.2c13.9,96.2,82.3,176.9,175.1,206.8
		c16.7,5.3,34.2,9,54.1,11.3c7.7,0.8,41.2,0.8,49,0c34.4-3.8,63.5-12.3,92.3-27c4.4-2.2,5.2-2.8,4.7-3.3
		c-14.1-18.6-27.9-37.2-41.7-55.9l-40.9-55.2l-51.2-75.9c-17.1-25.4-34.2-50.7-51.7-75.9c-0.2,0-0.4,33.7-0.5,74.9
		c-0.2,72.1-0.2,75-1.1,76.7c-0.9,2-2.4,3.7-4.4,4.6c-1.6,0.7-3,0.9-10.6,0.9h-8.7l-2.3-1.4c-1.4-0.9-2.6-2.2-3.3-3.7l-1.1-2.3
		l0.1-100.3l0.2-100.3l1.6-2l3.7-3c2.1-1,2.9-1.2,11.6-1.2c10.2,0,11.8,0.4,14.5,3.3c20.7,30.9,41.4,61.9,61.7,93
		c33.3,50.4,78.7,119.2,101,153l40.6,61.4l2-1.3c19.5-13,37.2-28.5,52.6-46.2c32.3-36.9,53.2-82.3,60.3-130.8
		c2.1-14.1,2.3-18.2,2.3-37.3c0-19.1-0.3-23.2-2.3-37.2C495.7,122.6,427.3,41.9,334.6,12c-17.3-5.5-35.2-9.2-53.2-11.1
		C276.5,0.3,243.4-0.3,239.2,0.1L239.2,0.1z M344,155c2.4,1.1,4.2,3.3,5.1,5.8c0.4,1.3,0.5,29.2,0.4,91.8l-0.2,90l-15.8-24.3
		l-15.9-24.3v-65.3c0-42.4,0.2-66.1,0.4-67.3c0.7-2.7,2.6-4.9,5-6.3c2-1,2.7-1.1,10.7-1.1C341.1,153.9,342.3,154,344,155L344,155z"
              ></path>
            </g>
          </svg>
        </i>
        <span slot="label">Next</span>
      </Link>
    </section>

    <section class="pt-4">
      <h2 class="text-neutral-400 mx-2 pb-1">Frontend Integration</h2>
      <Link href={`${basePath}integration/react`}>
        <i slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><title>React</title><path
              d="M12,10.11C13.03,10.11 13.87,10.95 13.87,12C13.87,13 13.03,13.85 12,13.85C10.97,13.85 10.13,13 10.13,12C10.13,10.95 10.97,10.11 12,10.11M7.37,20C8,20.38 9.38,19.8 10.97,18.3C10.45,17.71 9.94,17.07 9.46,16.4C8.64,16.32 7.83,16.2 7.06,16.04C6.55,18.18 6.74,19.65 7.37,20M8.08,14.26L7.79,13.75C7.68,14.04 7.57,14.33 7.5,14.61C7.77,14.67 8.07,14.72 8.38,14.77C8.28,14.6 8.18,14.43 8.08,14.26M14.62,13.5L15.43,12L14.62,10.5C14.32,9.97 14,9.5 13.71,9.03C13.17,9 12.6,9 12,9C11.4,9 10.83,9 10.29,9.03C10,9.5 9.68,9.97 9.38,10.5L8.57,12L9.38,13.5C9.68,14.03 10,14.5 10.29,14.97C10.83,15 11.4,15 12,15C12.6,15 13.17,15 13.71,14.97C14,14.5 14.32,14.03 14.62,13.5M12,6.78C11.81,7 11.61,7.23 11.41,7.5C11.61,7.5 11.8,7.5 12,7.5C12.2,7.5 12.39,7.5 12.59,7.5C12.39,7.23 12.19,7 12,6.78M12,17.22C12.19,17 12.39,16.77 12.59,16.5C12.39,16.5 12.2,16.5 12,16.5C11.8,16.5 11.61,16.5 11.41,16.5C11.61,16.77 11.81,17 12,17.22M16.62,4C16,3.62 14.62,4.2 13.03,5.7C13.55,6.29 14.06,6.93 14.54,7.6C15.36,7.68 16.17,7.8 16.94,7.96C17.45,5.82 17.26,4.35 16.62,4M15.92,9.74L16.21,10.25C16.32,9.96 16.43,9.67 16.5,9.39C16.23,9.33 15.93,9.28 15.62,9.23C15.72,9.4 15.82,9.57 15.92,9.74M17.37,2.69C18.84,3.53 19,5.74 18.38,8.32C20.92,9.07 22.75,10.31 22.75,12C22.75,13.69 20.92,14.93 18.38,15.68C19,18.26 18.84,20.47 17.37,21.31C15.91,22.15 13.92,21.19 12,19.36C10.08,21.19 8.09,22.15 6.62,21.31C5.16,20.47 5,18.26 5.62,15.68C3.08,14.93 1.25,13.69 1.25,12C1.25,10.31 3.08,9.07 5.62,8.32C5,5.74 5.16,3.53 6.62,2.69C8.09,1.85 10.08,2.81 12,4.64C13.92,2.81 15.91,1.85 17.37,2.69M17.08,12C17.42,12.75 17.72,13.5 17.97,14.26C20.07,13.63 21.25,12.73 21.25,12C21.25,11.27 20.07,10.37 17.97,9.74C17.72,10.5 17.42,11.25 17.08,12M6.92,12C6.58,11.25 6.28,10.5 6.03,9.74C3.93,10.37 2.75,11.27 2.75,12C2.75,12.73 3.93,13.63 6.03,14.26C6.28,13.5 6.58,12.75 6.92,12M15.92,14.26C15.82,14.43 15.72,14.6 15.62,14.77C15.93,14.72 16.23,14.67 16.5,14.61C16.43,14.33 16.32,14.04 16.21,13.75L15.92,14.26M13.03,18.3C14.62,19.8 16,20.38 16.62,20C17.26,19.65 17.45,18.18 16.94,16.04C16.17,16.2 15.36,16.32 14.54,16.4C14.06,17.07 13.55,17.71 13.03,18.3M8.08,9.74C8.18,9.57 8.28,9.4 8.38,9.23C8.07,9.28 7.77,9.33 7.5,9.39C7.57,9.67 7.68,9.96 7.79,10.25L8.08,9.74M10.97,5.7C9.38,4.2 8,3.62 7.37,4C6.74,4.35 6.55,5.82 7.06,7.96C7.83,7.8 8.64,7.68 9.46,7.6C9.94,6.93 10.45,6.29 10.97,5.7Z"
            ></path></svg
          >
        </i>
        <span slot="label">React</span>
      </Link>
    </section>
  </nav>

  <header
    class="flex items-center h-14 border-b-2 border-sky-500 bg-gradient-to-b from-sky-800 to-sky-900 text-neutral-100 px-4 fixed top-0"
    style="width: inherit;"
  >
    <span class="mr-3 text-sky-100 fill-sky-100">
      <svg
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
      >
        <g>
          <path
            d="M 231.87695 29.386719 C 224.89935 29.386719 218.15136 33.5778 211.63281 41.962891 C 205.20608 50.347981 199.51246 61.669174 194.55469 75.923828 C 189.59692 89.898979 185.60397 106.52874 182.57422 125.81445 C 181.36102 133.66294 180.41339 141.76279 179.70117 150.08789 L 13.058594 150.08789 L 8.1347656 324.19922 L 58.195312 324.54688 L 58.195312 210.21094 L 83.636719 212.29492 L 83.636719 291.87891 L 130.68945 302.65234 L 130.68945 218.20312 L 179.25977 218.20312 C 179.99423 228.39206 181.09748 238.26497 182.57422 247.81836 C 185.60397 266.82456 189.59692 283.45433 194.55469 297.70898 C 199.51246 311.96364 205.15922 323.28288 211.49414 331.66797 C 217.92088 340.05306 224.53219 344.24609 231.32617 344.24609 C 238.39558 344.24609 245.18848 340.05306 251.70703 331.66797 C 258.31739 323.28288 264.10278 312.10406 269.06055 298.12891 C 270.55123 293.84288 271.93802 289.29946 273.24609 284.55859 C 274.53184 289.13705 275.88899 293.53745 277.33984 297.70898 C 282.29761 311.96364 287.94437 323.28288 294.2793 331.66797 C 300.70603 340.05306 307.3154 344.24609 314.10938 344.24609 C 321.17878 344.24609 327.97364 340.05306 334.49219 331.66797 C 341.10254 323.28288 346.88598 312.10406 351.84375 298.12891 C 356.80152 283.87425 360.74956 267.10407 363.6875 247.81836 C 366.71725 228.53265 368.23242 207.84832 368.23242 185.76758 C 368.23242 163.96634 366.71725 143.56285 363.6875 124.55664 C 360.74956 105.55044 356.80152 89.059135 351.84375 75.083984 C 346.97779 61.108833 341.28612 50.068478 334.76758 41.962891 C 328.34084 33.5778 321.63776 29.386719 314.66016 29.386719 C 307.68256 29.386719 300.93456 33.5778 294.41602 41.962891 C 287.98928 50.347981 282.29761 61.669174 277.33984 75.923828 C 275.91565 79.938389 274.58149 84.197598 273.31641 88.650391 C 271.98833 83.902298 270.5778 79.360879 269.06055 75.083984 C 264.19459 61.108833 258.50097 50.068478 251.98242 41.962891 C 245.55569 33.5778 238.85455 29.386719 231.87695 29.386719 z M 230.63672 120.36328 C 233.57466 120.36328 236.3746 122.18091 239.03711 125.81445 C 241.69961 129.44799 244.04072 134.33921 246.06055 140.48828 C 248.17219 146.63735 249.82599 153.76551 251.01953 161.87109 C 252.21307 169.97668 252.80859 178.3608 252.80859 187.02539 C 252.80859 195.68998 252.16621 203.93563 250.88086 211.76172 C 249.68732 219.5878 248.08038 226.57554 246.06055 232.72461 C 244.04072 238.59417 241.69961 243.20651 239.03711 246.56055 C 236.46641 249.91458 233.8051 251.58984 231.05078 251.58984 C 228.29647 251.58984 225.54142 249.91458 222.78711 246.56055 C 220.1246 243.20651 217.73859 238.73264 215.62695 233.14258 C 213.51531 227.27301 211.76974 220.56611 210.39258 213.01953 C 209.56005 208.45743 208.98354 203.68747 208.6543 198.7168 L 208.6543 177.29688 C 208.94566 172.25055 209.42888 167.38347 210.11719 162.70898 C 211.31072 154.6034 212.91767 147.47524 214.9375 141.32617 C 217.04914 134.8976 219.4371 129.86791 222.09961 126.23438 C 224.85392 122.32133 227.69878 120.36328 230.63672 120.36328 z M 313.42188 120.36328 C 316.35981 120.36328 319.15976 122.18091 321.82227 125.81445 C 324.48477 129.44799 326.82587 134.33921 328.8457 140.48828 C 330.95734 146.63735 332.6092 153.76551 333.80273 161.87109 C 334.99627 169.97668 335.59375 178.3608 335.59375 187.02539 C 335.59375 195.68998 334.95136 203.93563 333.66602 211.76172 C 332.47248 219.5878 330.86553 226.57554 328.8457 232.72461 C 326.82587 238.59417 324.48477 243.20651 321.82227 246.56055 C 319.25157 249.91458 316.5883 251.58984 313.83398 251.58984 C 311.07967 251.58984 308.32658 249.91458 305.57227 246.56055 C 302.90976 243.20651 300.5218 238.73264 298.41016 233.14258 C 296.29851 227.27301 294.55489 220.56611 293.17773 213.01953 C 291.80058 205.47295 291.11133 197.36772 291.11133 188.70312 C 291.11133 179.47953 291.70881 170.81457 292.90234 162.70898 C 294.09588 154.6034 295.70282 147.47524 297.72266 141.32617 C 299.8343 134.8976 302.22031 129.86791 304.88281 126.23438 C 307.63713 122.32133 310.48394 120.36328 313.42188 120.36328 z "
            transform="scale(0.26458333)"></path>
        </g>
      </svg>
    </span>
    <div class="whitespace-nowrap overflow-hidden text-ellipsis">
      Foo Authentication
    </div>
  </header>

  <footer
    class="bg-neutral-800 border-t-neutral-500 border-r-neutral-600 border-t-2 border-r-2 w-56 px-4 py-2 fixed bottom-0"
  >
    <a href="https://github.com/yanickrochon/foo-auth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-8 h-8 fill-sky-100"
        ><title>View on Github</title><path
          d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
        ></path></svg
      >
    </a>
  </footer>
</div>
